<section class="initScreen">
  <ul>
    <li>
      <div>
        <img src="assets/assets/images/icon/pencil.png"
             id="editIcon"
             class="icon buffer">
        <img src="assets/assets/images/icon/delete.png"
             id="deleteIcon"
             class="icon buffer">
        <input class="checkboxLg" type="checkbox">
        <label> </label>
      </div>
    </li>
  </ul>
  <section class="trashIcon">
  <img src="assets/assets/images/icon/trash-icon.png"><span>Delete Completed Goals</span>
  </section>
  <button class="fpButton" >Add a new Goal</button>
</section>
